/* Applies to all elements  */
:root {
    /* avoiding repitition with CSS variables */
    --font-family: Trebuchet;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: rgb(238, 233, 245);
    --primary-color: #795eb0;
    --secondary-color: #19ac8589;
    --primary-shadow: #a1a7e9;
    --secondary-shadow: #9ab8a8;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
};

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
};

html {
    scroll-behavior: smooth;
};

/* body */
body {
    font-family: var(--font-family);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:  var(--primary-color);
}

a:hover {
    color: var(--secondary-color)
}

nav {
    /* sticky navbar property */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--bg-color);
    /* shadow fx */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
  
nav a {
    color: var(--primary-color);
    transition: var(--transition);
}
  
nav a:hover {
    color: var(--secondary-color);
}
  
nav ul {
    display: flex;
    gap: 0.75rem;
}
  
nav ul li {
    font-weight: var(--bold-font);
}

/* img + about me */

.self-img-about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.my-face {
    height: 25.5rem;
    width: 20.5rem;
}

h2 {
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 2px thistle;
}
  
.about-me-box {
    border-radius: 6px;
    /* box-shadow: 0px 2px 5px 2px var(--primary-shadow); */
}
  
.about-me {
    margin-bottom: var(--bottom-margin);
}
  
.about-me-text {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}
  
/* skills section */

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}
  
.skill-header {
    margin-bottom: 1rem;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 2px thistle;
}
  
.skills-icon img {
    padding: 1.25rem;
}

/* work section */

.work {
    padding: 32px 0;
    margin-top: 2rem;
}

.work-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-pic {
    width: 65%;
    height: 60%;
}

.project-title {
    text-align: center;
    margin-bottom: 1rem;
}

.work-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}








/* header {
    width: 100%;
    height: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: left;
    flex-wrap: wrap;
}  */

/* header nav {
    justify-content: space-around;
    background-color: thistle;
    padding: 30px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
} */

/* header h1 {
    color: whi;
} */


/* nav ul {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: whitesmoke;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

li a {
    margin: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* color:  purple;
    text-decoration: none;
} */

/* 
/* Banner + Photo */
/* article {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background: url("../images/malibu-2.JPG") no-repeat center;
    width: auto;
    height: 400px;
    bottom: 10px;
    background-size: cover;
} */

/* Will contain about me, work, and contact info */
/* main {
    margin: auto;
    padding: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: left;
} */

/* .aboutmearea {
    margin: 5px;
    padding: 50px;
    font-size: 28px;
    display: flex;
    flex-direction: row;
    align-content: center;
} */

/* To create "subtitles" to the left of each section */
/* #sidebar {
    border-right: solid thistle 5px;
    border-bottom: solid purple 5px;
    font-size: 30px;
    margin: 20px;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: right;
} */

/* .subheaders {
    font-size: 40px;
    font-weight: 800;
    align-content: right;
} */

/* .workarea {
    margin: 5px;
    padding: 50px;
    font-size: 20px;
    display: flex;
    flex-direction: start;
    align-items: stretch;
} */

/* /* For uniformity in project images */
/* img {
    max-width: 100%;
    max-height: 100%;
}
.mainprojectsection {
    align-content: center;
    width: 100%;
} */ 

/* .project1 {
    margin: 5px;
    display: flex;
    flex-direction:column;
    text-align: center;
    border-radius: auto;
    width: 100%;
    /* border: rgb(222, 217, 225) 4px solid; */
/* } */

/* .smallerprojects {
    display: flex;
    flex-direction:row;
    /* align-items: center; */
    /*

.title {
    width: 380px;
}

.projectleftside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.projectrightside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.project2, .project3, .project4, .project5 {
    /* border: rgb(222, 217, 225) 4px solid; */
    /* width: 100%;
    height: 100;
    max-width: 100%;
    border-radius: auto;
} */

/* .contactmearea {
    margin: 5px;
    padding: 50px;
    font-size: 30px;
    display: flex;
    flex-direction: start;
    text-align: justify;
    align-items: stretch;  
} */

/* #contacts {
    margin: 10px;
    width: 1000px;
    margin: auto;
} */

/* #contacts li {
    padding: 5px;
    color: slateblue;
    float: left;
    list-style-type: none;
    text-decoration: none;
    max-width: 100%;
    max-height: 100%;
} */

/* #contacts a {
    color: slateblue;
    justify-content: space-around;
} */

/* footer {
    padding: 30px;
    margin: 30px;
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

/* In order for the website to have a responsive layout */
/* @media screen and (min-width: 768px) {
    header,
    nav 
    main,
    p { */
        /* display: flex; */
        /* flex-direction: column;
        font-size: auto;
    }
  } */

  /* .header {
    background-color: #46B4CE !important;
    background:  url(images/loot-whiteArtboard%201@0.75x.png) no-repeat center center;
    background-size: 30%;
    position: relative;
    margin-top: 25px;
    height: 20em;
} */

/*extra small devices*/
/* @media (min-width: 300px) {
  .header {
    background-size: 55%;
    height: 15em;
  }
} */
/* Small devices (tablets, 768px and up) */
/* @media (min-width: 768px) {
    .header {
        background-size: 40%;
    }
}
/* Medium devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
    .header {
        background-size: 30%;
    }
} */

/* .btn{
    margin-left:10px;
    margin-top:8px;
} */